<%layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <div class="col-6 offset-3">

        <form method="post" action="/signin" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">UserName</label>
                <input name="username" placeholder="Enter UserName" type="text" class="form-control" required >
        
                <div class="invalid-feedback">Enter Valid UserName</div>
                <div class="valid-feedback">Looks good!</div>
                </div>
                
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" placeholder="Enter password" type="password" class="form-control" required >
                
                        <div class="invalid-feedback">Enter Password</div>
                        <div class="valid-feedback">Looks good!</div>
                        </div>
                        <button class="btn btn-success">SignIn</button>
        </form>
        </div>
        </div>